In [28]:
import pandas as pd
import os 
import numpy as np

In [8]:
test = pd.read_csv("./dataset/test.csv")

In [9]:
test.shape

(131187, 4)

In [11]:
files_saved = os.listdir("./images")

len(files_saved)

62633

In [12]:
test.columns

Index(['index', 'image_link', 'group_id', 'entity_name'], dtype='object')

In [13]:
test['file_name'] = test['image_link'].apply(lambda x : x.split('/')[-1])

test['file_name']

0         110EibNyclL.jpg
1         11TU2clswzL.jpg
2         11TU2clswzL.jpg
3         11TU2clswzL.jpg
4         11gHj8dhhrL.jpg
               ...
131182    A1rVsIzEtkL.jpg
131183    A1rdvZ5zDdL.jpg
131184    A1rdvZ5zDdL.jpg
131185    A1tnTUPyr7L.jpg
131186    A1tnTUPyr7L.jpg
Name: file_name, Length: 131187, dtype: object

In [14]:
test.head()

,index,image_link,group_id,entity_name,file_name
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height,110EibNyclL.jpg
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width,11TU2clswzL.jpg
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height,11TU2clswzL.jpg
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth,11TU2clswzL.jpg
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth,11gHj8dhhrL.jpg

In [18]:
# find all the saved files from the test
files_saved_df = test[test['file_name'].isin(files_saved)]

files_not_saved_df = test[~test['file_name'].isin(files_saved)]

In [21]:
files_saved_df.shape

(94125, 5)

In [23]:
files_saved_df.tail()

,index,image_link,group_id,entity_name,file_name
94120,94194,https://m.media-amazon.com/images/I/617xfzUqN3...,844474,height,617xfzUqN3L.jpg
94121,94195,https://m.media-amazon.com/images/I/617xnRpIKf...,810266,depth,617xnRpIKfL.jpg
94122,94196,https://m.media-amazon.com/images/I/617xnRpIKf...,810266,height,617xnRpIKfL.jpg
94123,94197,https://m.media-amazon.com/images/I/617xoB8+03...,243137,depth,617xoB8+03L.jpg
94124,94198,https://m.media-amazon.com/images/I/617xoB8+03...,243137,width,617xoB8+03L.jpg

In [19]:
files_saved_df.to_csv('files_saved_df.csv')

In [25]:
files_not_saved_df.head()

,index,image_link,group_id,entity_name,file_name
94125,94199,https://m.media-amazon.com/images/I/617xs+u5i7...,178778,height,617xs+u5i7L.jpg
94126,94200,https://m.media-amazon.com/images/I/617xsWvTUX...,683885,width,617xsWvTUXL.jpg
94127,94201,https://m.media-amazon.com/images/I/617xsWvTUX...,683885,depth,617xsWvTUXL.jpg
94128,94202,https://m.media-amazon.com/images/I/617xsWvTUX...,683885,height,617xsWvTUXL.jpg
94129,94203,https://m.media-amazon.com/images/I/617xveukXj...,267182,width,617xveukXjL.jpg

In [20]:
files_not_saved_df.shape

(37062, 5)

In [27]:
# partition the files saved df into parts
n_files_saved = files_saved_df.shape[0]

n_files_saved

94125

In [37]:
dfs = np.array_split(files_saved_df, 13)

len(dfs)

13

In [38]:
for df in dfs:
    print(df.shape)

(7241, 5)
(7241, 5)
(7241, 5)
(7241, 5)
(7241, 5)
(7240, 5)
(7240, 5)
(7240, 5)
(7240, 5)
(7240, 5)
(7240, 5)
(7240, 5)
(7240, 5)

In [40]:
partitions_dir = './partitions'

if os.path.exists(partitions_dir):
    print("Partitions dir created")
    os.mkdirs(partitions_dir)
else:
    print("Partitions dir exists")

Partitions dir exists

In [41]:
for i, df in enumerate(dfs):
    print(i, df.shape)
    df.to_csv(os.path.join(partition_dir, f"partition_{i}.csv"))

SyntaxError: incomplete input (1457531878.py, line 3)